<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HPP</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='img/favicon.png')}}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{url_for('static', filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/animate/animate.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

</head>

<body>
  <!--/ Nav start /-->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="{{url_for('index')}}">H<span class="color-b">PP</span></a>
      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
      </button>
      
      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('blogs')}}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('pridicted')}}">Predict</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('Converter')}}">Converter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('contact')}}">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!--/ Nav End /-->

  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">We Do Pricise pridiction For Houses</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{{url_for('index')}}">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                About
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ About Star /-->
  <section class="section-about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="about-img-box">
            <img src="{{url_for('static', filename='img/slide-about-1.jpg')}}" alt="" class="img-fluid">
          </div>
          <div class="sinse-box">
            <h3 class="sinse-title">Price pridiction
              <span></span>
              <br> For Houses</h3>
            <p>pridiction Here</p>
          </div>
        </div>
        <div class="col-md-12 section-t8">
          <div class="row">
            <div class="col-md-6 col-lg-5 ">
              <br><br><br>
              <img src="{{url_for('static', filename='img/HPP.png')}}" alt="" class="img-fluid max-width">
            </div>
            <div class="col-md-6 col-lg-5 section-md-t3">
              <div class="title-box-d">
                <h3 class="title-d">House
                  <span class="color-d">Price</span> 
                  <br> Pridiction.</h3>
              </div>
              <p class="color-text-a">
                In the rapidly evolving real estate market, accurately predicting house prices has become a crucial task for buyers, sellers, and investors alike. By leveraging advanced machine learning techniques and integrating diverse data sources, such as historical sales records, economic indicators, and neighborhood characteristics, our house price prediction model aims to provide a reliable forecast of property values. This model not only enhances decision-making processes but also offers valuable insights into market trends and price fluctuations.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ About End /-->

  <!--/ Team Star /-->
  <section class="section-agents section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Meet Our Team</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row d-flex justify-content-around">
          <div class="col-md-4 ">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="{{url_for('static', filename='img/waheed.jpeg')}}" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="agent-single.html" class="link-two">Waheed
                        <br> Abbas</a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    I am the Student of Post Graduate College. Developer of HPP Project.
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>Phone: </strong> +92 34567800</p>
                    <p>
                      <strong>Email: </strong> waheed@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="{{url_for('static', filename='img/atif.jpeg')}}" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="agent-single.html" class="link-two">Muhammad Atif
                        <br> Hasnian</a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    I am the Student of Post Graduate College. Developer of HPP Project.
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>Phone: </strong> +92 356 945234</p>
                    <p>
                      <strong>Email: </strong> ati45@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Team End /-->

  <!--/ footer Star /-->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">House Price Pridiction</span> All Rights Reserved.
            </p>
          </div>
          <div class="credits">

            Designed by HPP</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{{url_for('static', filename='lib/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='lib/jquery/jquery-migrate.min.js')}}"></script>
  <script src="{{url_for('static', filename='lib/popper/popper.min.js')}}"></script>
  <script src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='lib/easing/easing.min.js')}}"></script>
  <script src="{{url_for('static', filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static', filename='lib/scrollreveal/scrollreveal.min.js')}}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{{url_for('static', filename='contactform/contactform.js')}}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>
</html>