<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HPP</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='img/favicon.png')}}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{url_for('static', filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/animate/animate.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

</head>

<body>
  <!--/ Nav start /-->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="{{url_for('index')}}">H<span class="color-b">PP</span></a>
      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
      </button>
      
      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('blogs')}}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('pridicted')}}">Predict</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('Converter')}}">Converter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('contact')}}">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!--/ Nav End /-->

  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Contact US</h1>
            <span class="color-text-a">For any inquiries related to our house price prediction services, please don't hesitate to reach out. Whether you have questions about how our predictive models work, need assistance with interpreting your property value forecast, or want to discuss how our insights can benefit your real estate decisions, our team is here to help. Contact us via email, or give us a call at Phone Number. </span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{{url_for('index')}}">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Contact
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Contact Star /-->
  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 section-t8">
          <div class="row">
            <div class="col-md-7">
              <form class="form-a contactForm" action="" method="post" role="form">
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <div class="row">
                  <div class="col-md-12 mb-3">
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <input name="email" type="email" class="form-control form-control-lg form-control-a" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" id="email">
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <input type="url" name="subject" class="form-control form-control-lg form-control-a" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" id="subject">
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <textarea name="message" class="form-control" name="message" cols="45" rows="8" data-rule="required" data-msg="Please write something for us" placeholder="Message" id="message"></textarea>
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button class="btn btn-a" style="margin-bottom: 20px; " type="button" onclick="sendEmail()">Send Message
                    </div></button>
                </div>
              </form>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="icon-box section-b2">
                <div class="icon-box-icon">
                  <span class="ion-ios-paper-plane"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">Say Hello</h4>
                  </div>
                  <div class="icon-box-content">
                    <p class="mb-1">Email.
                      <span class="color-a">itxati454@gmail.com</span>
                    </p>
                    <p class="mb-1">Phone.
                      <span class="color-a">+92 320 7463316</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="icon-box section-b2">
                <div class="icon-box-icon">
                  <span class="ion-ios-pin"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">Find us in</h4>
                  </div>
                  <div class="icon-box-content">
                    <p class="mb-1">
                      Islamabad
                      <br> Pakistan.
                    </p>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Contact End /-->

  <!--/ footer Star /-->
  <!--/ footer Start /-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright-footer">
          <p class="copyright color-text-a">
            &copy; Copyright
            <span class="color-a">House Price Pridiction</span> All Rights Reserved.
          </p>
        </div>
        <div class="credits">

          Designed by HPP</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--/ Footer End /-->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

<!--/ For message /-->
<script type="text/javascript">
  function sendEmail() {
      const email = document.getElementById('email').value;
      const subject = document.getElementById('subject').value;
      const message = document.getElementById('message').value;

      // Construct the mailto link
      const mailtoLink = `mailto:itxati454@gmail.com?subject=${encodeURIComponent(subject)}&body=From: ${encodeURIComponent(email)}%0A%0A${encodeURIComponent(message)}`;

      // Open the default email client
      window.location.href = mailtoLink;
  }
</script>

<!-- JavaScript Libraries -->
<script src="{{url_for('static', filename='lib/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/jquery/jquery-migrate.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/popper/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/easing/easing.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/scrollreveal/scrollreveal.min.js')}}"></script>
<!-- Contact Form JavaScript File -->
<script src="{{url_for('static', filename='contactform/contactform.js')}}"></script>

<!-- Template Main Javascript File -->
<script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>
</html>